@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}

body{
    background: url("../img/vecteezy_dark-futuristic-with-purple-neon-line-background_8060028.jpg");
    background-size: cover;
    

}

.landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100dvh;
    text-align: center;
}

.landing-page h1 {
    font-size: 40px;
    color:#ffffff;
    font-weight: 600;
    margin-top: 150px;
}

#quiz-instructions {
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 25px;
    margin: 20px 0;
}

p{
    color: #ffffff;
}

#start-quiz {
    background: #f72be0;
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;

}

.hide {
    display: none;
}

.app {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px #f72be0;
}

.app h1 {
    font-size: 25px;
    color: #69286a;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #69286a;
    font-weight: 600;
}
.btn {
    /* Answer Button Class */
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

/*Hover States for buttons */

.btn:hover:not([disabled]) {
    background: #222;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}

#next-btn {
    background: #f72be0;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
/* Correct and Incorrect class button states*/
/* Will change to green or red when correct/incorrect answer is given*/

.correct {
    background: #3bdd81;

}

.incorrect {
    background: #f87070
}

